html,
body {
    --main-bg-color: #55585b;
    --supporting-bg-color: gray;
    --supporting-bg-color2: darkgray;
    --tertiary-bg-color: lightgray;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--supporting-bg-color2);

    /* #424549 
    #55585b
    */
    overflow-y: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0px;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hideAds {
    display: none !important;
}

#leftAds, #rightAds {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leftAds h1, #rightAds h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#leftAds div, #rightAds div{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    height: 120px;
    text-align: center;
    background-color: red;
    flex-shrink: 3;
}

#mainAppContent {
    flex-grow: 3;
    margin: 0 auto;
    background-color: var(--supporting-bg-color);
    display: flex;
}

.content p, .content h1, .content h2{
    margin: 10 !important;
}

#contentMessages {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: space-between;
}

#changePasswordForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--supporting-bg-color2);
    padding: 10px;
    border-radius: 10px;
}

#changePSForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changePasswordServerResponse{
    text-align: center;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

#blurBackground{
    display: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* Scrollbar Styling */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* NavBar Styling */

#introduction
{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    color: black;
}

#nav{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

 .navlink {
    font-size: 1.3em;
}

.formSubmit, #changePassword {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: min-content;
    border-radius: 2px;
    border-color: #66acee;
}

.navlink a,
.navlink a:hover,
.formSubmit,
.formSubmit a,
.formSubmit a:link,
.formSubmit a:visited,
.formSubmit a:hover,
.formSubmit a:active,
#changePassword,
#changePassword:hover,
#changePassword:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover{
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

#content{
    background-color: var(--tertiary-bg-color);
    width: min-content;
    margin: auto;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
}

#content h1{
    margin: 20px;
}

#loginForm, #signupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Message Submission Form Styling */

.messageForm {
    padding: 10px;
    height: max-content;
    background-color: var(--main-bg-color);

    margin-block-end: 0px;
}

.textarea {
    max-height: 300px;

    background-color: var(--supporting-bg-color) !important;
    border: none !important;

    overflow-y: auto;
}

.textarea::placeholder {
    color: white !important;
    opacity: 1; /* Firefox */
  }

/* Current Channel Header Styling */

#displayChannelHeader {
    background-color: var(--main-bg-color);
    height: 70px;
    display: flex;
    align-items: center;
}

#displayChannelHeader h1 {
    text-transform: capitalize;
    color: white;
    font-size: 2.5em;
    margin-left: 20px;
    font-weight: bold;
}

/* Login and Signup Form Styling */

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#errorMessage, #loginOutput, #signupOutput {
    color: red;
    font-style: italic;
}

#message {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

/* List of Messages Styling */
#messages {
    padding: 20px 0px;
    width: 100%;
    height: 300px;
    border-radius: 4px;
    overflow-y: auto;
    flex-grow: 3;
}

.message {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.message:hover {
    background-color: lightgray;
}

.message button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.message p{
    white-space: preserve nowrap;
}

.message a {
    text-decoration: none;
    color: blue !important;
}

.message a:hover {
    text-decoration: underline;
}

.message .messageMessage {
    margin: 0px;
    padding: 0px;
}

h3.emptyMessage {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
    color: white
}

/* Channel Selection Styling */

#channelSelect {
    float: left;
    width: min-content;
    margin: 0px;
    padding: 25px;
    height: 100%;
    font-size: 1.2em;
    background-color: rgb(38, 38, 134);
    top: 50px;
    bottom: 0px;
    color: white;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

#channelSelect div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#channelSelect h1{
    font-weight: bold;
}

#channelSelect label {
    display: block;
    margin: 0px;
    padding: 0px 20px;
    font-size: 1.2em;
}

#channelSelect label:hover {
    background-color: rgb(27, 27, 109);
    font-style: normal;
}

#channelSelect input[type=radio]:checked+label {
    color: lightblue;
    font-weight: bold;
    font-style: normal;
}

#channelSelect input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

#channelSelect a{
    justify-self: flex-start;
}